:root {
  --gap: 7px;
}

* {
  padding: 0;
  margin: 0;
}

html {
  height: 100vh;
}

body {
  font-family: sans-serif;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color .25s;
}

.color-mixer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
}

.colors {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: var(--gap);
  -webkit-user-select: none;
  user-select: none;
}

.color {
  display: flex;
  gap: var(--gap);
}

.switch {
  width: 50px;
  height: 50px;
  background-color: var(--color);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 4px;
  transition: all .2s;
  
  &[data-active="Y"] {
    color: var(--color);
  }

}

.output {
  font-size: 40px;
  text-align: center;
  line-height: 1;
}

.color-mixer-foot {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  border: 0;
  background-color: #F000C0;
  color: white;
  font-weight: bold;
  padding: 10px 20px;
  font-size: inherit;
  border-radius: 4px;
  cursor: pointer;
}
